body {
  font-family: "Sora", sans-serif;
  background-color: #FFFFFF;
}

.card {
  height: auto;
  width: 336px;
  box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
  background-color: #FAFAF9;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 164px;
}

.card-image {
  width: 100%;
  margin-bottom: 16px;
}

.card-badge {
  color: #7C19EE;
  background-color: #F2EAFD;
  border-radius: 16px;
  width: fit-content;
  padding: 6px 16px;
  font-size: 0.625rem;
  font-weight: 500;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.card-title {
  font-size: 1.125rem; /* 18px */
  font-weight: 600;
  color: #20293A;
  margin-bottom: 6px;
}

.card-description {
  font-size: 0.875rem; /* 14px */
  font-weight: 400;
  color: #394150;
  line-height: 22px;
  margin-bottom: 20px;
  margin-top: 0;
}

.card-description::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #E5E7EB;
  width: calc(100% + 32px);
  margin-left: -16px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.card-author {
  font-size: 0.75rem; /* 12px */
  font-weight: 400;
  color: #394150;
  margin-bottom: 4px;
}
